#form{
    margin: 1rem;
    padding: 1rem;
}
.ck-editor__editable_inline {
    height: 180px !important;
}
.ui.button:not(.extra){
    margin: 1rem !important;
    background-color: #EDD0FF !important;
    margin-bottom: 2rem !important;
}
.ui.button:hover:not(.extra){
    background-color: #C465FF !important;
}
label{
    margin: 0.2rem !important;
    font-size: .92857143em;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}
#error{
    text-align: center;
}