i.icon:not(.extra){
    display: none !important;
}
.ui.menu.navBar{
    font-size: 1rem !important;
    margin-bottom: 2rem;
    color: black !important;
    background-color: #EDD0FF;
    width: 100% !important;
    padding: 0.5rem !important;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.ui.menu .active.item, .ui.vertical.menu .active.item{
    font-weight: 700 !important;
    background-color: #C465FF !important;
    border-radius: 0.5rem !important;
}
.ui.menu :not(.active).item:hover{
    background-color: #DB9FFF !important;
    border-radius: 0.5rem !important;
}
.navigation{
    display: flex;
    justify-content: center;
}
.ui.vertical.menu{
    display: block !important;
}
.menu{
    font-size: 1rem !important;
}
.ui.vertical.menu .item{
    background-color: #EDD0FF !important;
}
i.icon:hover:not(.extra){
    cursor: pointer;
}
h1:first-child.heading{
    font-size: 2rem !important;
    display: inline !important;
    margin-top: 2rem !important;
}


@media (max-width: 770px){
    .ui.menu.navBar:not(.vertical){
        font-size: 1rem !important;
    }
    .ui.vertical.menu{
        display: none;
    }
    i.icon.hamburgerIcon{
        font-size: 1.5rem;
    }

}
@media (max-width: 610px) {
    .heading{
        margin: 1rem !important;
    }
    .navigation{
        justify-content: space-between;
        align-items: center;
    }
    .ui.menu.navBar{
        display: none;
    }
    .ui.vertical.menu{
        font-size: 1.5rem !important;
    }
    i.icon.hamburgerIcon{
        display: block !important;
        margin: 1.5rem !important;
    }
}
@media (max-width: 330px) {
    h1:first-child{
        font-size: 1rem !important;
    }
    .ui.vertical.menu{
        font-size: 0.8rem !important;
    }
    i.icon.hamburgerIcon{
        font-size: 1rem;
    }
}