.Login{
    background-color: #356fff;
    color: white;
    border: 0;
    margin: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.container{
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.nav{
    display:  flex;
    justify-content: space-evenly;
    margin-top: 1.2rem;
    padding: 1rem;
    background-color: #EDD0FF;
    border-radius: 0.5rem;
}

.navItem{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #DB9FFF;
    border: 0;
    border-radius: 0.5rem;
    transition: 0.3s all;
}

.navItem:hover{
    background-color: #C465FF;
    box-shadow: 0rem 0.2rem 0.5rem black
}

.error{
    display: inline;
    padding: 1rem;
    border: 2px solid red;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(255 0 0 / 36%);
}

.loginButton{
    margin: 2rem;
}

.loginBox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 15rem;
}

.contentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    font-family: 'Gluten', cursive !important;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.content{
    align-self: flex-start;
    margin: 2rem;
}

.heading{
    text-align: center;
    margin-top: 0rem;
}