#updateUser{
    margin: 1.5rem;
    background: transparent;
    border: none;
    box-shadow: none;
}
#grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#formU{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 1rem;
    width: fit-content;
    padding: 0px;
}
#form1U{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: fit-content;
    padding: 0px;
}
.userBtn{
    height: fit-content;
    margin: 0px 2rem !important;
}
.roleBtn{
    margin-top: 1rem !important;
}
.ui.form .field{
    margin: 0px !important;
}
label{
    margin: 0.5rem 0px !important;
}